<html>
<head>
    <link rel="stylesheet" href="../bootstrap.css">
    
    </head>
<body>
    
     <div class="row">
     
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
         
        <p><%=result[0].name%></p>
          <p><%=result[0].password%></p>
          <p><%=result[0].gender%></p>
        <p><a href="/profile/<%=result[0].name%>"class="btn btn-primary" role="button" >gotoprofile</a></p>
      </div>
    </div>
  </div>

</div> 
    
    
    
    
    
    
    </body></html>